body,html{
    max-height: 800px;
    min-height: 700px;
    width: 100%;
    background-color: black;
    /* background: url(https://dm2306files.storage.live.com/y4mVo9IfmhOp6ooQ3mJfxHomD-z6VRdlbTyiTQWeOjgSt5p6PtcCbvpUfhSYJF3qipdjjk-Ar4D-IqyExdYWtqaMXfZoN7XY7u7F_lBxWOycMs_ukyG8T8hi5F7BcIAzwpCEHM-iD7LO4_rqMegDu-gJ-gmmtD0vpho5nEwUWeWawxHRfXZvkFhuCIlk_-P0Lsm?width=1920&height=852&cropmode=none) no-repeat center;
    background-attachment: fixed;
    background-size: cover; */
}
.parralex{
    background-image: url(https://dm2306files.storage.live.com/y4mVo9IfmhOp6ooQ3mJfxHomD-z6VRdlbTyiTQWeOjgSt5p6PtcCbvpUfhSYJF3qipdjjk-Ar4D-IqyExdYWtqaMXfZoN7XY7u7F_lBxWOycMs_ukyG8T8hi5F7BcIAzwpCEHM-iD7LO4_rqMegDu-gJ-gmmtD0vpho5nEwUWeWawxHRfXZvkFhuCIlk_-P0Lsm?width=1920&height=852&cropmode=none);
    
  /* Set a specific height */
  max-height: 800px;
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* about */
#profile{
    background-image: url(https://dm2306files.storage.live.com/y4mWJHnO7nH2lyD7L_ABT6n3NAMd8-vv6OUA5J_QRwwkflflJilm5_h0vNLNSS5Pe5v9gPFUh_6K8Rc9jFcMKBr8kjtsDi3Qsef6tHFGgGGl7tAN311i17SOsil8lukHKCveaYmynhIlTkPkm5IZtEyUvp-EBE-UDbiO9kc39gwNKp27jV4wsBHbpXKckyXccXu?width=1920&height=709&cropmode=none);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 800px;
    min-height: 700px;
}
#about{
    background-color: grey;
    background-attachment: fixed;
    background-size: cover;
    max-height: 800px;
    min-height: 700px;
}

#education{
    background-color: darksalmon;
    background-attachment: fixed;
    background-size: cover;
    max-height: 800px;
    min-height: 700px;
}
#projects{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    max-height: 800px;
    min-height: 700px;
}

/* headings */
h1{
    text-align: center;
    font-size: 36px;
    padding-top: 250px;
 
}
h2{
    text-align: center;
    font-size: 36px;
    padding-right: 250px;
}
/* lists */
li{
    display: inline;
    color: white;
    font-size: 24px;
    padding: 25px;
}
p{
    color: white;
    text-align: center;
    font-size: 18.5px;
}
p.about_p{
    padding-top: 150px;
    text-align: center;
    font-size: 24px;
}
p.about_contact{
    text-align: left;
    font-size: 24px;
}
p.college{
    text-align: center;
    font-size: 36px;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  /* images icons */
  .fb,.in,.tt{
      width: 45px;
      height: 45px;
      text-align: center;
  }
  .icons{
      text-align: center;
    }
  
  .container{
      background-color: black;
  }
  nav{
    background-color: black;
    padding: 25px;
    text-align: right;
  }

  a.call,a.mail{
      font-size: 24px;
  }
  h2{
      padding-left: 250px;
  }
